---
---
@charset "utf-8";
/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "mixins";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "reset";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "banner";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "home";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "blog";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "elements";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "responsive";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
// Our variables
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@media screen and (max-width: 480px) {
  .nav-item .btn {
    width: 100%;
  }

  .button {
    text-align: center;
  }

  .title-tagline {
    display: none;
  }

  footer a .fa,
  footer a i.fab,
  footer a i.far {
    font-size: 20px;
  }

  .footer-cert {
    display: none;
  }

  .btn-responsive {
    margin: inherit;
    width: 100%;
  }

  .modal.show .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
// Color Variables
$title-a: #F41822;
$title-b: #0A9444;
$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #FFC107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
// Font Variables
$font-header: 'Roboto', sans-serif;
$font-body: 'Open Sans', sans-serif;
/* Custom CSS */
.title-a,
a .title-a {
  color: #F41822;
}

.title-b,
a .title-b {
  color: #0A9444;
}

h1 .title-a,
h1 .title-b {
  font-size: 2.5rem!important;
  font-family: $font-header;
}

.title-a,
.title-b {
  font-weight: 500;
  -webkit-text-stroke: 1px #fff;
}

h2 .title-a,
h2 .title-b {
  font-size: 34px;
  letter-spacing: 2px;
  font-family: $font-header;
}

h1 span.title-b {
  background-image: url("https://www.checkmirrors.co.uk/img/eyes.png");
  background-size: 23px 26px;
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: 14px;
}

h2 .title-b {
  background-image: url("https://www.checkmirrors.co.uk/img/eyes.png");
  background-size: 23px 25px;
  background-repeat: no-repeat;
  background-position-x: 47px;
  background-position-y: 10px;
}

.header_area .title-tagline {
  color: white;
  font-size: 20px;
  font-family: $font-header;
  font-weight: 300;
}

.header_area.navbar_fixed .title-tagline {
  color: black;
}
.header_area.navbar_fixed .navbar .nav .nav-item .nav-link {
  color: black;
}
.header_area.navbar_fixed .navbar .nav .nav-item .nav-link:hover {
  color: #fdc632;
  cursor: pointer;
}
.header_area .navbar .nav .nav-item .nav-link:hover {
  color: #fdc632;
  cursor: pointer;
}

.home_banner_area {
  background-image: url("{{site.github.url}}/img/home-new2.jpg");
  color: white;
}

.home_banner_area:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0,0,0,.4);
}

.home_banner_area .banner_inner .banner_content h3,
.home_banner_area .banner_inner .banner_content p {
  color: white;
}

.btn-primary {
  background-color: #388E3C !important;
  border-color: #388E3C !important;
}

.btn-primary:hover {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
}

.btn-secondary {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
}
ul.home-features {
  padding-left: 0px!important;
}
.home-features li {
  list-style: none;
}
