---
title: Become a Driving Instructor
permalink: "/become-an-instructor/"
description: Become an ADI qualified Driving Instructor in the York area with checkmirrors
  and become part of the family.
layout: default
tags:
- driving
- instructor
- adi
- ordit
- york
- school
- motoring
- learn
- drive
- trainee
- teach
- checkmirrors
- check
- mirrors
intro_section:
  youtube_url: https://www.youtube.com/embed/Y0E972YNdCI
  title: Become a Driving Instructor with checkmirrors
  text: Whether you want a career change or you're already qualified the checkmirrors
    family is currently welcoming new driving instructors to the family in the York
    area.
whats_included:
  title: 'What''s included:'
  features:
  - feature_icon: <i class="fas fa-pound-sign fa-lg"></i>
    feature_text: Earn up to £40k per year
  - feature_icon: <i class="fas fa-user-tie fa-lg"></i>
    feature_text: Be your own boss
  - feature_icon: <i class="fas fa-graduation-cap fa-lg"></i>
    feature_text: One to One training in your area
  - feature_icon: <i class="fas fa-thumbs-up fa-lg"></i>
    feature_text: No upfront payments, pay as you go
  - feature_icon: <i class="fas fa-car fa-lg"></i>
    feature_text: Free livery
  - feature_icon: <i class="fas fa-pencil-ruler fa-lg"></i>
    feature_text: Free stationary
  - feature_icon: <i class="fas fa-tshirt fa-lg"></i>
    feature_text: Free shirts and fleece
  - feature_icon: <i class="fas fa-phone-volume fa-lg"></i>
    feature_text: 100% support
  - feature_icon: <i class="fas fa-beer fa-lg"></i>
    feature_text: Team days out
details_section:
  title: ''
  text: ''
  image:
    image: ''
    image_alt: ''
  active: true

---
{% include hero.html %}
{% include _becomeinstructor/intro_section.html %}
{% include _becomeinstructor/whats_included_section.html %}