---
title: Learn to Drive in York
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- NHS
- manual
- automatic
services_section:
  section_title: Our Services
  section_sub-title: Learning to drive couldn't be easier with checkmirrors
  section_cards:
  - card_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591504/checkmirrors/card-1.webp
    card_title: Learn to Drive
    card_text: |-
      * Flexible times to suit
      * Accredited instructors
      * Manual and Automatic lessons
      * Only £37 per lesson, or £40 for automatic lessons
    card_button:
      button_link: "/driving-lessons-york/"
      button_text: Learn More
  - card_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591504/checkmirrors/card-2.webp
    card_title: Pass Plus
    card_button:
      button_link: "/passplus"
      button_text: Learn More
    card_text: |-
      * Learn new driving skills
      * Excellent for new drivers
      * Lower your insurance premium
      * Safe driving for life
  - card_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591504/checkmirrors/card-3.webp
    card_title: Become an Instructor
    card_button:
      button_link: "/become-an-instructor/"
      button_text: Learn More
    card_text: "* Flexible working hours\n* Self-employment\n* Regular pupil referrals\n*
      Support throughout "
  services_text: |-
    Here at checkmirrors we strive to provide the very best service available, all of our instructors are fully ADI qualified instructors and are we now providing a fully COVID-19 secure learning environment.

    We also have female instructors available and are able to provide lessons in automatic cars.
testimonial_section:
  section_title: What our students say...
  testimonials:
  - testimonial_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591506/checkmirrors/testimonial2018.webp
    name: Beth Loseby
    testimonial_text: "  \n “Couldn’t recommend Rob from Checkmirrors driving school
      enough, after struggling with driving for months before taking lessons with
      him, I noticed a change straight away and passed first time!”"
  - testimonial_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591503/checkmirrors/adam-walsh.webp
    name: Adam Welsh
    testimonial_text: “Thanks to Rob from Checkmirrors I passed first time with only
      4 minors. Rob is a great driving instructor, easy to get along with, I’d definitely
      recommend. Thanks again Rob"
  - testimonial_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591504/checkmirrors/bridie-murray.webp
    name: Bridie Murray
    testimonial_text: '"Sarah has been fantastic. After going through at least 5 other
      different instructors, I instantly knew Sarah was a keeper! Would 100% recommend,
      lessons were fun and stress free. Sarah was very good at keeping me calm as
      I was a nervous driver."'
  - testimonial_image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637591505/checkmirrors/luke-pass.webp
    name: Luke Swainsbury
    testimonial_text: "“Passed first time, massive thank you to Rob at Checkmirrors
      for all the time and effort you put into me, extremely recommend. Thanks again”"
about_section:
  heading: About <span class="title-a">check</span><span class="title-b">mirrors</span>
  about_text: |-
    checkmirrors was established in 2014. The company director is Sarah Hellowell who has over 20 years of experience instructing.

    We are a small company with experienced driving instructors in York who give total quality tuition assuring complete safety for each pupil.

    Our aim is not just to teach people to pass a driving test but to teach a skill for life so when they leave us they are a safe and competent driver.
  image: https://res.cloudinary.com/njh101010/image/upload/q_auto/v1637593502/checkmirrors/about_x0kulj.webp
features_section:
  learner:
    icon: <span class="fas fa-graduation-cap"></span>
    heading: Learn to drive with confidence
    features:
    - Learn to drive in <a href="https://www.checkmirrors.co.uk/driving-lessons-york/">York</a>
    - Fully qualified ADI instructors
    - Pass Plus Available
    - Flexible around you
    - Manual and Automatic
    feature_cta:
      button_link: "/driving-lessons-york/"
      button_text: Find out more
  instructor:
    icon: <span class="fas fa-car"></span>
    heading: Become a Driving Instructor
    features:
    - Become ADI Qualified
    - One to one tuition
    - Tailoured to suit you
    - Set your own hours
    - Support throughout
    - Free livery
    feature_cta:
      button_text: Find out more
      button_link: "/become-an-instructor/"

---
<section class="home_banner_area">
  <!-- <video class="my-background-video jquery-background-video d-none d-sm-none d-md-inline" loop autoplay muted playsinline poster="{{site.github.url}}/img/home-new2.jpg">
		<source src="img/video/shortened-video-promo-cars-shoot.mp4" type="video/mp4">
		<source src="img/video/shortened-video-promo-cars-shoot.webm" type="video/webm">
	</video> -->
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner_content text-center">
            <h1><span class="title-a">check</span><span class="title-b">mirrors</span> <span class="title-c">Driving instructors in York</span></h1>
            <p class="lead">As an established school of motoring we pride ourselves on offering a professional, high standard service that always puts the pupil first.</p>
            <div class="mb-3">
              <a class="primary-btn btn-bg btn-responsive" href="tel:07821291783" role="button" id="callBtn"><i class="fa fa-phone" data-wow-delay=".1s"></i> Call to Book</a> or <button class="primary-btn btn-bg btn-responsive" data-bs-toggle="modal" data-bs-target="#bookFormModal">Book Online</button>
            </div>
            {% include fb-share.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include services_section.html %}
{% include features_section.html %}
{% include testimonials_section.html %}
{% include about.html %}
{% include structured-data.html %}