---
title: Driving Lessons in York
description: Learn to drive in York with checkmirrors, book your driving lessons online
  today. We have female driving instructors, NHS discount and are COVID secure.
permalink: "/driving-lessons-york/"
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
location: York
intro_section:
  heading: Learn to drive with <span class="title-a">check</span><span class="title-b">mirrors</span>
    school of motoring
  text: Looking for driving lessons in York? Look no further, checkmirrors offer flexible,
    friendly and professional driving lessons in York and the surrounding areas. Our
    driving instructors in York have over 18 years experience, putting you, our pupil
    first guiding you to success.
  cta:
    button_link: "/driving-lessons-york/what-you-need/"
    button_text: Learn More
  image: "/img/passplus-header.jpg"
offers_section:
  offers:
  - heading: Manual and Automatic
    text: 'We now offer driving lessons in Manual and Automatic transmission vehicles '
    image: "/img/lessons-5-350x150.jpeg"
  - heading: Learn in York and the surrounding area
    text: We now have instructors all around York and the surrounding area.
    image: "/img/lessons-2-350x150.jpg"
  - heading: Safe and Calm Environment
    text: We know how nerve wracking it is to learn to drive, so we take care to make
      you as comfortable as possible.
    image: "/img/lessons-4-350x150.jpeg"
  - heading: Learn with an ADI Instructor
    text: All of our instructors are ADI certified, approved by the DVSA to the highest
      standard.
    image: "/img/lessons-1-350x150.jpg"
  - heading: Available for all Levels of Experience
    text: Just turned 17 and starting out or in need of some refresher lessons, we
      will help you get on the road.
    image: "/img/lessons-3-350x150.jpg"
  heading: What do we offer?
  sub_heading: It couldn't be easier to learn with checkmirrors.
pass_plus_section:
  title: Pass Plus
  text: "checkmirrors is proud to provide Pass Plus courses which are ideal for those
    who have already passed and want to improve on essential skills and behaviours
    to become a more competent driver.\n\nPass Plus has an extensive syllabus covering
    driving in different weather conditions and road types such as town vs motorway
    driving. \n\nAs well as learning some vital skills, people who complete the Pass
    Plus course can expect to see a reduction in their insurance premiums which is
    a great additional extra.  "
  cta:
    button_link: "/passplus/"
    button_text: Find out more
  image:
    image: "/uploads/passpluss1.JPG"
    image_alt: Pass Plus Student

---
<!-- Page Intro -->

{% include hero.html %}
{% include _lessons/intro_section.html %}
{% include book-promo-dark.html %}
<!-- Intro End -->
{% include _lessons/offers_section.html %}
{% include _lessons/pass_plus_section.html %}