---
title: Our Driving Instructors
permalink: "/our-instructors/"
description: Get to know the checkmirrors family, our instructors are fully ADI qualified
  and female instructors are available
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
heading: Get to know us.
sub_heading: Find out more about our team of driving instructors at checkmirrors.
instructors:
- instructor_name: Sarah Hellowell
  instructor_info: Sarah is the founder of checkmirrors.
  instructor_bio: She is an ADI with qualifications that include The Diamond Special
    Test, Pass Plus and Cardington Special Test. She has been a fully qualified instructor
    for over 17 years and takes pride in offering a professional, calm and safe environment
    that will help you pass your test.
  instructor_image: "/img/sarah-hellowell.jpg"
- instructor_name: Rob Kedge
  instructor_image: "/img/rob-kedge.jpg"
  instructor_bio: Rob has 17 years experience as an ADI. He is a patient and friendly
    instructor able to adapt to teaching methods to suit each individual person. As
    well as an ADI Rob is a Pass Plus and Fleet trainer.
  instructor_info: ''
- instructor_name: Ryan Fawcett
  instructor_bio: Ryan is a qualified driving instructor and has been teaching for
    over 2 and half years. Ryan is a Business Management graduate who has spent 5
    years in sales before deciding to become a qualified driving instructor in York.
    Ryan enjoys working with all ages and thrives on the challenge and success of
    helping people pass their tests.
  instructor_image: "/img/ryan-fawcett.jpg"
  instructor_info: ''
- instructor_name: William McDonald
  instructor_info: ''
  instructor_bio: |-
    William is one of our new instructors. He formerly worked in mental health/learning disabilities for 20 years as a Team Leader working with people who have learning disabilities.
    He has an award from the Minister of Health and Education for working with young people and adults. He is trained in Health & Safety, Advanced First Aid and Basic Life Support. His background in healthcare has given him a very calm and person-centred approach when it comes to teaching and communication and he’s looking forward to a change of career and helping people learn to drive and pass their test.
  instructor_image: "/uploads/img_2344.jpeg"
- instructor_name: Ben Foster
  instructor_info: ''
  instructor_bio: Ben has 27 years of working in the catering and hospitality industry
    and so high standards of quality service are important to him. He has regular
    coached his team to achieve professional qualifications and he takes great satisfaction
    in helping others to achieve their goals.
  instructor_image: "/uploads/img_3210.jpg"
- instructor_name: Naaman Hudson
  instructor_info: Web Developer
  instructor_bio: "Naaman is the checkmirrors web developer and has been working in
    \n web development for over 10 years, he has worked with a range of different
    industries from automotive to financial services. \n\nAnything digital for checkmirrors,
    Naaman is our man."
  instructor_image: "/uploads/img_1726.jpg"

---
<!-- Page Intro -->

{% include hero.html %}

<!-- Intro End -->

<section class="clear-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="text-center my-5">
          <h2 class="mb-3">{{ page.heading }}</h2>
          <p>{{ page.sub_heading }}</p>
        </div>
      </div>
    </div>
    {% include instructors.html %}
    </div>
</section>