---
title: Pass Plus Driving Lessons
description: Extend your driving ability and lower your premiums with PassPlus driving
  lessons at checkmirrors driving instructors in York.
permalink: "/passplus/"
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- pass
- plus
- passplus
alumni_section:
  alumni:
  - title: Kishori Young
    text: Check out Kishori, she earned her PassPlus with checkmirrors and is now
      winning!
    image:
      image_alt: 'Kishori Young Passed with checkmirrors '
      image: "/img/passpluss1.JPG"
  - title: Toria Leedale
    image:
      image_alt: Toria Leedale passed with checkmirrors
      image: "/img/ToriaLeedale.JPG"
    text: Toria passed with checkmirrors and now has a lower insurance premium.
details_section:
  title: What is Pass Plus?
  text: Pass Plus is a scheme that was introduced to help new drivers who have recently
    passed improve their attitudes and skills that are essential for 'safe driving
    for life'.
  syallabus:
    title: The Pass Plus syllabus with <span class="title-a">check</span><span class="title-b">mirrors</span>
    modules:
    - 'Module 1: Town driving (Part 1)'
    - 'Module 1: Town driving (Part 2)'
    - 'Module 2: All-weather driving'
    - 'Module 3: Out of town driving & rural roads'
    - 'Module 4: Night driving'
    - 'Module 5: Dual carriageways'
    - 'Module 6: Motorways'
    text: When you have successfully completed the course, you will be issued with
      a Certificate of Completion.
  image:
    image_alt: PassPlus Logo
    image: "/img/pass-plus.png"
why_passplus_section:
  title: Why PassPlus?
  text: |-
    PassPlus is an excellent way for new or experienced drivers to expand their driving skills and become a better all-round driver.

    The syllabus covers driving in different weather conditions and teaches you to understand how the changing conditions impact how you drive and teaches you vital skills for driving on different types of roads like driving in the city to driving on the motorway.

    What's more, drivers with a PassPlus certificate under their belt also benefit from lower insurance premiums. Insurers see those with PassPlus as more competent and trustworthy drivers, resulting in a lower premium. A real plus for new young drivers often stung with high insurance costs.
  image:
    image: "/uploads/passplusimg.JPG"
    image_alt: PassPlus Student with certificate
passplus_promo_section:
  text: Entire Pass Plus Course Only {{ site.data.siteData.prices.passPlusPrice }}!
  button_text: Book Now

---
<!-- Page Intro -->
{% include hero.html %}


<!-- Intro End -->

<!-- Testimonial -->

{% include _passplus/alumni_section.html %}
{% include _passplus/passplus_promo.html %}
{% include _passplus/details_section.html %}
{% include _passplus/why_passplus_section.html %}