---
title: Become an Instructor
description: All of the checkmirrors driving instructors are fully COVID secure following
  the latest government guidance. Wear a mask, wash hands, clean cars.
permalink: "/test/"
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- covid-19
- COVID
- corona
- virus
location: York
page_sections:
  - template: feature-left
    title: Why learn with <span class="title-a">check</span><span class="title-b">mirrors</span>?
    text: We have a great track record, from full driving instructor training packages to part 3 rescue or standards check training our instructors understand the importance, and pressure of your tests and know how to get you through them. We don’t see instructor training as a cash cow like some of the national driving schools, we see it as a way to grow with high quality instructors who have received the right training.
    youtube_url: https://www.youtube.com/embed/Y0E972YNdCI
    button:
      button_text: A button
      button_link: /#
  - template: three-cards
    title: How?
    text: We have a great track record, from full driving instructor training packages to part 3 rescue or standards check training our instructors understand the importance, and pressure of your tests and know how to get you through them. We don’t see instructor training as a cash cow like some of the national driving schools, we see it as a way to grow with high quality instructors who have received the right training.
    cards:
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 1
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 1
        button_link: /#
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 2
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 2
        button_link: /#
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 3
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 3
        button_link: /#

---
<!-- Page Intro -->

{% include hero.html %}

{% for block in page.page_sections %}
  {% assign template = block.template %}
  {% case template %}
  {% when 'feature-left' %}
    {% include blocks/feature-left.html %}
  {% when 'three-cards' %}
    {% include blocks/three-cards.html %}
  {% endcase %}
{% endfor %}
