---
title: Driving Lesson Testimonials
description: Find out what the checkmirrors alumni have to say about learning to drive with checkmirrors
permalink: "/testimonials/"
layout: default
tags:
- driving
- instructor
- lessons
- york
- school
- motoring
- learn
- drive
- testimonials
- reviews
---

{% include hero.html %}


{% include book-promo.html %}

<section class="clear-bg pt-5">
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-12 test-year">
      <h2 class="text-center mb-3">Don't just take our word for it!</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-2">
      <a href="{{ site.data.siteData.reviews.google.reviewLink }}" target="_blank">
      <div class="googleReview align-items-center pb-2" id="googleReview">
        <img class="googleReviewImage" src="https://res.cloudinary.com/njh101010/image/upload/v1637676352/checkmirrors/Google-Logo.png" alt="Google Logo">
        <div class="googleReviewStars">
          <i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><span class="starBack"></span>
        </div>
        <span class="googleReviewScore">{{ site.data.siteData.reviews.google.reviewScore }}</span><span class="googleReviewCount"> {{site.data.siteData.reviews.google.reviewCount}} Reviews</span>
      </div>
      </a>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    {% for post in site.posts %}

    <div class="col-xs-12 col-md-4">
      <a href="{{ site.github.url }}{{ post.url }}">
      <div class="card testimonial-card mt-3">
        <div class="card-img-top">
          <img src="{{ site.cloudinary_url }}c_fill,g_face:center,h_230,w_392/{{ post.image }}" alt="{{post.title}}">
        </div>
        <div class="card-body">
          <p class="card-title"><a class="card-title-link" href="{{ site.github.url }}{{ post.url }}">Congratulations to {{ post.name }}, who passed {% if post.firstTime == true %}first time{% endif %} today.</a></p>
          <p class="card-text">
            {{ post.date | date_to_long_string }}
          </p>
          <a class="primary-btn btn-bg" href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ post.url }}" target="_blank"><i class="fab fa-facebook"></i> Share</a>
        </div>
      </div>
      </a>
    </div>

    {% endfor %}


  </div>
</div>
</section>
{% include review-structured-data.html %}
