<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p><small>Vouchers are redeemable with any of the checkmirrors instructors and must be presented during a lesson. Where the value of a voucher exceeds the cost of a single lesson, the remaining amount can only be carried over to a successive lesson. Vouchers cannot be redeemed for cash value and can only be redeemed towards a lesson or Pass Plus course with checkmirrors.</small></p>
      </div>
    </div>
  </div>
</section>
