<div class="container-fluid py-5 registration_area">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-12 col-md-6 offset-md-2">
      <div class="mb-3">
        <h2 class="mb-3">{{ page.pass_plus_section.title }}</h2>
        <div class="clock_sec">
          {{ page.pass_plus_section.text | markdownify }}
        </div>
        <a class="primary-btn btn-bg" href="{{ page.pass_plus_section.cta.button_link }}">{{ page.pass_plus_section.cta.button_text }}</a>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <img class="img-fluid" src="{{ site.github.url }}{{ page.pass_plus_section.image.image }}" alt="{{ page.pass_plus_section.image.image_alt }}">
    </div>
  </div>
</div>
