<section class="banner-covid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="banner-covid-inner">
          <div class="banner-covid-message">
            <p>Driving lessons currently delayed until December 2nd. Find out more or book your lessons for after the second lockdown.</p>
          </div>
          <div class="banner-covid-dismiss">
            <button class="btn btn-light btn-sm" id="banner-dismiss" aria-label="dismiss banner">Dismiss <i class="far fa-times-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
