<section class="banner-covid justify-content-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="banner-covid-inner">
          <div class="banner-covid-message">
            <p>We are open and lessons are going ahead as normal<a href="{{ site.github.url }}/covid-19-update/">Find out more</a> or <a href="{{ site.github.url }}/book-now/">book your lessons</a>.</p>
          </div>
          <div class="banner-covid-dismiss">
            <button class="btn btn-light btn-sm" id="banner-dismiss" aria-label="dismiss banner">Dismiss <i class="far fa-times-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
