<footer class="footer-area section_gap">
  <div class="container">
    <div class="row footer-bottom d-flex justify-content-between">
        <div class="col-lg-4 col-sm-12 footer-social text-center my-3">
          <h3>Get in touch</h3>
          <a href="{{ site.data.siteData.contactDetails.faceBook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a  id="footModal"><i class="fas fa-envelope"></i></a>
          <a href="tel:{{ site.data.siteData.contactDetails.phone }}"><i class="fa fa-phone" data-wow-delay=".1s"></i></a>
        </div>
      <div class="col-md-4 col-xs-12 my-3">
        <p class="pride text-center">
          <img src="{{site.github.url}}/img/pride-flag.png" alt="Pride and BAME Flag">
          <span>Supporter of all things Pride and BAME.</span></p>

      </div>
      <div class="col-md-4 col-xs-12 my-3">
        <div class="footer-right text-center">
          <img class="footer-cert" src="{{ site.github.url }}/img/dvsa.png" alt="DVSA ADI" width="25%">
          <img class="footer-cert" src="{{ site.github.url }}/img/pass-plus.png" alt="Pass Pluss Certified" width="25%">
          <img class="footer-cert" src="{{ site.github.url }}/img/diamond.png" alt="DIAmond Advanced Motorists" width="25%">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyright &copy; {{ site.title }} {{ site.time | date: "%Y"  }}</p>
          <p>checkmirrors is a trading name of Checkmirrors Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
