
<form class="contact_form" id="bookForm">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
      <label for="firstName">First name<span class="required">*</span></label>
      <input type="text" name="firstname" class="form-control mb-3" id="firstName" placeholder="First name" required>
      <div class="invalid-feedback">Please enter your first name.</div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
      <label for="lastName">Last name<span class="required">*</span></label>
      <input type="text" name="lastname" class="form-control mb-3" id="lastName" placeholder="Last name" required>
      <div class="invalid-feedback">Please enter your last name.</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailAddress">Email address<span class="required">*</span></label>
    <input type="email" name="email" class="form-control" id="emailAddress" placeholder="name@example.com" required>
    <div class="invalid-feedback">Please enter your email address.</div>
  </div>
  <div class="form-group">
    <label for="contactNumber">Contact number<span class="required">*</span></label>
    <input type="tel" name="phone" class="form-control" id="contactNumber" placeholder="mobile or landline" required>
  </div>
  <label for="startDate">Preferred start date</label>
  <div class="form-group input-group mb-3" id="startDateGroup">
    <input autocomplete="off" name="start_date" class="form-control" id="startDate"/>
    <div class="input-group-append" id="datePickerIcon">
         <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
    </div>
  </div>
  <div class="form-group">
    <label for="comments">Any comments</label>
    <textarea name="comments" class="form-control" id="comments" rows="3"></textarea>
  </div>
  <p>Data Privacy</p>
  <p class="small">Checkmirrors values your data privacy. We will only ever use your data to contact you about specific enquiries made unless otherwise agreed. Your data will never be disclosed to or used by another business or external third party. By clicking submit, you agree to allow checkmirrors to contact you about the above enquiry.</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="marketCheck" data-status="false">
    <label class="form-check-label" for="marketCheck">
      <p class="small">Recieve emails from checkmirrors about news & offers.</p>
    </label>
  </div>
<div class="form-check mb-3">
  <input class="form-check-input" type="checkbox" id="consentCheck" data-status="false">
  <label class="form-check-label" for="consentCheck">
    <p class="small mb-0">Allow checkmirrors to contact you regarding your enquiry only.</p>
  </label>
  <div class="invalid-feedback" id="consentInvalid">
    Please accept our data privacy statement to proceed.
  </div>
</div>
  <button class="btn btn-primary btn-responsive" type="submit" id="bookFormSubmit">Submit</button>
  <br>
  <p class="small"><span class="required">*</span> Indicates required fields</p>

</form>

<div id="busy" class="justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
