<div class="row justify-content-center mt-3">
    <div class="col-6 col-md-2">
      
      <div class="googleReview align-items-center pb-2" id="googleReview">
        <img class="googleReviewImage" src="{{ site.github.url }}/img/Google-Logo.png" alt="Google Logo">
        <div class="googleReviewStars">
            <span class="googleReviewScore text-dark">{{ site.data.siteData.reviews.google.reviewScore }} </span><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><span class="starBack"></span>
        </div>
        <a href="{{ site.data.siteData.reviews.google.reviewLink }}" target="_blank"><small><span class="googleReviewCount">Read our {{site.data.siteData.reviews.google.reviewCount}} Reviews</span></small></a>
      </div>
    </div>
  </div>