<script>
    !function(){var e,t,i=window.legal=window.legal||[];if(i.SNIPPET_VERSION="3.0.0",!i.__VERSION__)if(i.invoked)window.console&&console.info&&console.info("legal.js: The initialisation snippet is included more than once on this page, and does not need to be.");else{for(i.invoked=!0,i.methods=["cookieConsent","document","ensureConsent","handleWidget","signup","user"],i.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);return e.unshift(t),i.push(e),i}},e=0;e<i.methods.length;e++)t=i.methods[e],i[t]=i.factory(t);i.load=function(e,t){var n,o=document.createElement("script");o.setAttribute("data-legalmonster","sven"),o.type="text/javascript",o.async=!0,o.src="https://widgets.openli.com/v1/legal.js",(n=document.getElementsByTagName("script")[0]).parentNode.insertBefore(o,n),i.__project=e,i.__loadOptions=t||{}},i.widget=function(e){i.__project||i.load(e.widgetPublicKey),i.handleWidget(e)}}}();

    legal.widget({
        type: "cookie",
        widgetPublicKey: "KMvvdFafx1p6APKx1hzc7LGL",
    });
</script>