<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "AggregateRating",
  "itemReviewed": {
    "@type": "LocalBusiness",
    "image": "https://res.cloudinary.com/njh101010/image/upload/v1637593502/checkmirrors/about_x0kulj.jpg",
    "name": "checkmirrors Driving instructors in York",
    "telephone": "07821291783",
    "email" : "checkmirrors@gmail.com",
    "priceRange": "££",
    "address" : {
      "@type": "PostalAddress",
      "streetAddress": "Yarburgh Grove",
      "addressLocality": "York",
      "addressRegion": "North Yorkshire",
      "postalCode": "YO26 4TP",
      "addressCountry": "United Kingdom"
    }
  },
  "ratingValue": "{{ site.data.siteData.reviews.google.reviewScore }}",
  "bestRating": "5",
  "ratingCount": "{{ site.data.siteData.reviews.google.reviewCount }}"
}
</script>
