<section class="feature_area clear-bg section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="text-center mb-5">
          <h2 class="mb-3">{{ page.services_section.section_title }}</h2>
          <p>
            {{ page.services_section.section_sub-title }}
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for section_card in page.services_section.section_cards %}
        <div class="col-md-4 col-xs-12">
          <div class="card mb-3">
            <div class="card-img-top">
              <img src="{{ site.cloudinary_url }}{{ section_card.card_image }}" alt="{{ section_card.card_title }}">
            </div>
            <div class="card-body">
              <h4 class="card-title"><a>{{ section_card.card_title }}</a></h4>
              <p class="card-text">
                {{ section_card.card_text | markdownify }}
              </p>
              <a href="{{ site.github.url }}{{ section_card.card_button.button_link }}" class="primary-btn btn-responsive btn-bg">{{ section_card.card_button.button_text }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if page.services_section.services_text %}
      <div class="row">
        <div class="col">
          <div class="text-center mt-3">{{ page.services_section.services_text | markdownify }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
