<div class="row d-flex justify-content-center">
  <div class="col-2 col-xs-2">
      <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter fa-3x animated fadeInUp" data-wow-delay=".1s"></i>

      </a>
  </div>
  <div class="col-2 col-xs-2 ">
      <a href="/contact/">
      <i class="fa fa-envelope-o fa-3x animated fadeInUp" data-wow-delay=".1s"></i>

      </a>
  </div>
  <div class="col-2 col-xs-2">
      <a href="https://facebook.com/{{ site.github_username }}">
      <i class="fa fa-facebook fa-3x animated fadeInUp" data-wow-delay=".1s"></i>

      </a>
  </div>
</div>
