
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "checkmirrors Driving instructors in York",
  "image" : "https://www.checkmirrors.co.uk/img/about.jpg",
  "telephone" : "07821291783",
  "email" : "checkmirrors@gmail.com",
  "priceRange": "££",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "Yarburgh Grove",
    "addressLocality" : "York",
    "addressRegion" : "North Yorkshire",
    "addressCountry" : "United Kingdom",
    "postalCode" : "YO26 4TP"
  },
  "openingHours": "Mo-Su 09:00-18:00",
  "url" : "https://www.checkmirrors.co.uk/",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingValue" : "{{ site.data.siteData.reviews.google.reviewScore }}",
    "ratingCount" : "{{ site.data.siteData.reviews.google.reviewCount }}"
  }
}
</script>
