<section class="about_area clear-bg section_gap">
  <div class="container">
    <div class="row h_blog_item">
      <div class="col-lg-6">
        <div class="ratio ratio-16x9">
          <iframe src="{{ block.youtube_url }}" title="{{ block.title }}" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-9">{{ block.title }}</h2>
            <p class="mb-9">{{ block.text | markdownify }}</p>
            {% if block.button.button_text > "" %}
            <a class="primary-btn btn-bg mt-1" href="{{ site.github.url }}{{ block.button.button_link }}">{{ block.button.button_text }}<i class="ti-arrow-right ml-1"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ block.title }}",
  "description": "{{ block.text }}",
  "uploadDate": "2021-10-30T08:00:00+02:00",
  "duration": "PT2M55S",
  "contentUrl": "block.youtube_url",
}
</script>
