---
title: Become a Driving Instructor
permalink: "/become-an-instructor/"
description: Become an ADI qualified Driving Instructor in the York area with checkmirrors
  and become part of the family.
layout: default
tags:
- driving
- instructor
- adi
- ordit
- york
- school
- motoring
- learn
- drive
- trainee
- teach
- checkmirrors
- check
- mirrors
location: York
page_sections:
  - template: feature-left
    title: Why learn with <span class="title-a">check</span><span class="title-b">mirrors</span>?
    text: We have a great track record, from full driving instructor training packages to part 3 rescue or standards check training our instructors understand the importance, and pressure of your tests and know how to get you through them. We don’t see instructor training as a cash cow like some of the national driving schools, we see it as a way to grow with high quality instructors who have received the right training.
    youtube_url: https://www.youtube.com/embed/Y0E972YNdCI
    button:
      button_text: A button
      button_link: /#
  - template: three-cards
    title: Our guide to becoming an ADI qualified driving instructor
    text: We have a great track record, from full driving instructor training packages to part 3 rescue or standards check training our instructors understand the importance, and pressure of your tests and know how to get you through them. We don’t see instructor training as a cash cow like some of the national driving schools, we see it as a way to grow with high quality instructors who have received the right training.
    cards:
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 1
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 1
        button_link: ./driving-instructor-training-part-1
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 2
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 2
        button_link: ./driving-instructor-training-part-2
    - card_image: "/uploads/sanitiser.png"
      card_title: Part 3
      card_text: We provide hand sanitiser in all of our cars and kindly request students
        to use the hand sanitiser before each lesson.
      card_button:
        button_text: Explore Part 3
        button_link: ./driving-instructor-training-part-3
  - template: whats_included
    title: 'What''s included:'
    features:
    - feature_icon: <i class="fas fa-pound-sign fa-lg"></i>
      feature_text: Earn up to £40k per year
    - feature_icon: <i class="fas fa-user-tie fa-lg"></i>
      feature_text: Be your own boss
    - feature_icon: <i class="fas fa-graduation-cap fa-lg"></i>
      feature_text: One to One training in your area
    - feature_icon: <i class="fas fa-thumbs-up fa-lg"></i>
      feature_text: No upfront payments, pay as you go
    - feature_icon: <i class="fas fa-file-signature fa-lg"></i>
      feature_text: No contract fee or hidden costs
    - feature_icon: <i class="fas fa-car fa-lg"></i>
      feature_text: Free livery
    - feature_icon: <i class="fas fa-pencil-ruler fa-lg"></i>
      feature_text: Free stationary
    - feature_icon: <i class="fas fa-tshirt fa-lg"></i>
      feature_text: Free shirts and fleece
    - feature_icon: <i class="fas fa-phone-volume fa-lg"></i>
      feature_text: 100% support
    - feature_icon: <i class="fas fa-beer fa-lg"></i>
      feature_text: Team days out

---
<!-- Page Intro -->

{% include hero.html %}

{% for block in page.page_sections %}
  {% assign template = block.template %}
  {% case template %}
  {% when 'feature-left' %}
    {% include blocks/feature-left.html %}
  {% when 'three-cards' %}
    {% include blocks/three-cards.html %}
  {% when 'whats_included' %}
    {% include blocks/whats-included.html %}
  {% endcase %}
{% endfor %}
