---
layout: default
---
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="banner_content text-center">
            <h2>🎉 Congratulations 🎉</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<article class="post clear-bg" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-b">
        <div class="card my-5">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="card-img-top">
                <img src="{{ site.github.url }}{{ page.image }}" alt="{{page.title}}"/>
              </div>
            </div>
            <div class="col-sm-12 col-md-8">
              <div class="card-body">
                <h2 class="card-title" itemprop="name headline">{{ page.title }}</h2>
                <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
                    itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
                <div class="card-text">
                  <div class="post-content" itemprop="articleBody">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</article>

{% include book-promo-dark.html %}
